<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django-CRUD_APLICACION</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    />
    <style>
      .contenedorHoras {
        display: flex;
        /* justify-content: space-between; */
      }

      .pelon {
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home'%}">Django App</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" class="nav-link disabled" href="/"
                >Sobre mostros</a
              >
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'temporizador' %}"
                >Temporizador</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_task' %}"
                >Crear tareas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tasks' %}">Tareas pendiente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tasks_complete' %}"
                >Tareas Completadas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Cerrar Sesion</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/signup">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signin">Iniciar sesion</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
