{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">{{title}}</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae commodi
      itaque dolores veniam iste totam eveniet consequuntur laboriosam
      recusandae ipsum odio ut adipisci quasi cum, optio fugit earum? Qui eum
      minima voluptate optio atque vel sint ullam esse minus? Sapiente tenetur
      animi dolore, porro beatae quidem illum mollitia quisquam quam totam optio
      vitae. Minima iste laboriosam expedita excepturi odio sit nam molestias
      dignissimos sunt. Doloremque accusantium excepturi inventore est enim
      neque unde quidem optio rerum! Dignissimos rerum ullam dolores soluta
      mollitia ipsam, officia ex nulla minus neque eius possimus magnam,
      voluptatibus ut, repellendus vel qui repudiandae asperiores fugit laborum?
      Sequi, numquam expedita. Blanditiis ab incidunt, eaque sapiente voluptas
      quisquam ea corporis. Consequatur modi fuga, incidunt, veritatis non,
      veniam in dolorum sunt voluptate molestiae sit suscipit. Corrupti
      consectetur commodi suscipit? Quod maxime nam pariatur minus sunt ad
      tempora fuga consequatur libero molestias aliquid exercitationem officiis
      iusto provident expedita quaerat obcaecati veniam repudiandae neque
      consectetur suscipit, harum architecto eos. Dignissimos provident
      asperiores dolorem tempore vero! Neque tempora voluptas delectus dolore
      itaque facere tenetur incidunt provident saepe iste ea numquam quasi autem
      corporis molestias adipisci, non, laboriosam, nulla explicabo quos
      accusamus quaerat. Obcaecati ab, nisi quas hic rem dignissimos velit
      deleniti nihil molestiae.
    </p>
    {% if not user.is_authenticated %}
    
    <div class="text-center">
      <a class="btn btn-secondary" href="{% url 'signin'%}">Iniciar sesion</a>
      <a class="btn btn-dark" href="{% url 'signup'%}">Registrase</a>
    </div>
    {% endif %}
  </section>
</main>
{% endblock %}
