{% extends 'base.html' %} {% block content %}
<main class="container">
  <!-- <div class="row"> -->
  <section class="card card-body">
    <!-- <div class="col-md-6 offset-md-3"> -->
      <h1 class="text-center display-3 py-5">{{titulo}}</h1>
      {% for task in tasks %}
      <ul class="list-group">
        <a class="task" href="{% url 'task_detail' task.id %}">
          <header class="d-flex justify-content-between">
            {% if task.important %}
            <h4 class="fw-bold text-success">{{ task.title }}</h4>
            {% else %}
            <h4 class="fw-bold">{{task.title}}</h4>
            {% endif %}
            <p>{{task.user.username}}</p>
          </header>

          <p class="descripciontask">{{task.descripcion}}</p>
          <!-- <p>{{task.datecompleted|date:'M j Y:i'}}</p> -->

          <!-- <p>{{task.important}}</p> -->
          <!-- <li>{{task.created}}</li> -->
        </a>
      </ul>
        {% endfor %}
    <!-- </div> -->
  </section>

  <!-- </div> -->
</main>
{% endblock%}
